@{
    ViewBag.Title = "Крипто.валюта";
}

<div class="jumbotron">
    <h1>Валюта</h1>
    <p class="lead">
        Реализация протокола с возможностью перевода и объединения транзакций; 
        алгоритм выбора самой длинной цепочки в случае объединения транзакций с общим предком.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Создать кошелек</h2>
        <p>Для работы с криптовалютой необходим собственный кошелек. Все, что необходимо сделать - указать имя.</p>
        <p><a class="btn btn-default" href="@Url.Action("NewWallet", "Currency")">Далее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Приступить к работе</h2>
        <p>Система случайным образом выберет существующий кошелек и откроет все операции его владельца.</p>
        <p><a class="btn btn-default" href="@Url.Action("Work", "Currency")">Далее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Как это работает?</h2>
        <p>Из каких шагов состоит работа, как их выполнять и зачем; что было реализовано и как это посмотреть.</p>
        <p><a class="btn btn-default" href="@Url.Action("Help", "Currency")">Подробнее &raquo;</a></p>
    </div>
</div>