<h2>Автор сайта</h2>

<hr />

<div>
    <a target="_blank" href="https://vk.com/id177697075">Станислав Бердышев</a>
    <br />
    Студент УрФУ, ИМКН, группы КБ-501<br />
    Сайт подготовлен для выполнения задач по курсу "Криптографические протоколы"
    <br />
    Все реализации протоколов упрощены (в учебных целях), что делает невозможным их использование по прямому назачению
    <br />
    <br />
</div>

<div>
    <strong>GitHub:</strong>     <a target="_blank" href="https://github.com/xackill/Crypto">xackill/Crypto</a>
</div>