@{
    ViewBag.Title = "Крипто.протоколы";
}

<div class="jumbotron">
    <h1>Протоколы</h1>
    <p class="lead">На данном сайте расположены реализации некоторых криптографических протоколов</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>K-Deposit</h2>
        <p>Депонирование ключей с доверенными лицами.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "KeyDeposit")">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>V-Auth</h2>
        <p>Протокол визуальной аутентификации.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "VisualAuthentication")">Подробнее &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>А-Валюта</h2>
        <p>Анонимная валюта, скрывающая личность того, кто использует ее честно.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "AnonymousCurrency")">Подробнее &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Р-Валюта</h2>
        <p>Реализация протокола распределенных денег с возможностью перевода и объединения транзакций; алгоритм выбора самой
            длинной цепочки в случае объединения транзакций с общим предком.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "DistributedCurrency")">Подробнее &raquo;</a>
        </p>
    </div>
</div>