@{
    ViewBag.Title = "Депонирование ключей";
}

<div class="jumbotron">
    <h1>K-Deposit</h1>
    <p class="lead">
        Депонирование ключей с доверенными лицами.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Работа с ключами</h2>
        <p>Создание ключей, передача их доверенным лицам, раскрытие ключей уполномоченными органами.</p>
        <p><a class="btn btn-default" href="@Url.Action("Work", "KeyDeposit")">Приступить! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Как это работает?</h2>
        <p>Из каких шагов состоит работа, как их выполнять и зачем; что было реализовано и как это посмотреть.</p>
        <p><a class="btn btn-default" href="@Url.Action("Help", "KeyDeposit")">Подробнее &raquo;</a></p>
    </div>
</div>