@{
    ViewBag.Title = "Депонирование ключей";
}

<script type="text/javascript" src="../../Scripts/KDepositWork.js"></script>

<div class="jumbotron">
    <h1>K-Deposit</h1>
    <p class="lead">
        Депонирование ключей с доверенными лицами.
    </p>
</div>

<div class="bs-callout"
     data-bind="visible: HasResult, css: {'bs-callout-danger': IsResultError, 'bs-callout-success' : !IsResultError() }">
    <h4 data-bind="text: ResultHeader"></h4>
    <p data-bind="html: ResultText"></p>
</div>

<h2>Управление</h2>
<div class="form-horizontal">
    <div class="form-group">
        <label for="ModesContainer" class="col-md-2 control-label">Сторона</label>
        <div id="ModesContainer">
            <div class="col-sm-10">
                <input type="button" class="btn" onclick="setMode('Клиент')" value="Клиент"
                       data-bind="css: {'btn-primary': IsClientMode, 'btn-default' : !IsClientMode() }" />

                <input type="button" class="btn" onclick="setMode('Центр депонирования')" value="Центр депонирования"
                       data-bind="css: {'btn-primary': IsDepositCenterMode, 'btn-default' : !IsDepositCenterMode() }" />
                
                <input type="button" class="btn" onclick="setMode('Доверенные лица')" value="Доверенные лица"
                       data-bind="css: {'btn-primary': IsTrustedCenterMode, 'btn-default' : !IsTrustedCenterMode() }" />
                
                <input type="button" class="btn" onclick="setMode('Госорганы')" value="Госорганы"
                       data-bind="css: {'btn-primary': IsStateMode, 'btn-default' : !IsStateMode() }" />      
                
                <a class="btn btn-warning" href="@Url.Action("Help", "KeyDeposit")">Помощь</a>
            </div>
        </div>
    </div>
    
    <div class="form-group" data-bind="visible: IsClientMode">
        <div class="col-md-offset-2 col-sm-10">
            <button class="btn btn-success" onclick="createKey()" data-bind="visible: !Process()">Создать ключ</button>
            <img src="../../Content/Load.gif" style="display: none; width: 27px" alt="<Load>" data-bind="visible: Process" />
        </div>
    </div>
    
    <div class="form-group" data-bind="visible: IsStateMode">
        <label for="KeyId" class="col-md-2 control-label">Идентификатор ключа</label>
        <div class="col-sm-10">
            <input type="text" id="KeyId" class="form-control" placeholder="Введите идентификатор"
                   data-bind="value: KeyId">
        </div>
    </div>

    <div class="form-group" data-bind="visible: IsStateMode">
        <div class="col-md-offset-2 col-sm-10">
            <button class="btn btn-success" onclick="learnTheKey()" data-bind="visible: !Process()">Узнать ключ</button>
            <img src="../../Content/Load.gif" style="display: none; width: 27px" alt="<Load>" data-bind="visible: Process" />
        </div>
    </div>
</div>

<h2>Доступные ключи</h2>
<div class="form-group">
    <img src="../../Content/Load.gif" style="display: none; width: 27px" alt="<Load>" data-bind="visible: LoadingTable" />
    <table id="KeyViewer" class="table table-condensed table-hover" data-bind="visible: !LoadingTable()">
            
    </table>
</div>

<script>
    ko.applyBindings(data);
    setMode("Клиент");
</script>
