@{
    ViewBag.Title = "Как это работает?";
}

<div class="jumbotron">
    <h1>E-Curves</h1>
    <p class="lead">Описание работы сумматора точек эллиптической кривой</p>
</div>

<dl class="dl-horizontal" style="font-size: 18px">
    <dt>Общее</dt>
    <dd>
        Сумматор поддерживает два типа ввода: через интерфейс или через файл.<br>
        Все числа могут быть указаны либо в десятиричной системе счисления (без префикса), либо в шестнадцатиричной (с префиксом 0x).<br>
        Для бинарного поля все числа будут распознаваться как многочлены содержащие iю степень, если соответствующий бит в числе выставлен в 1.
    </dd>
    <br>
    
    <dt>Интерфейс</dt>
    <dd>
        Необходимо выбрать тип конечного поля, который будет использован и указать:<br>
        Для <b>GF(p)</b> порядок поля <b>p</b><br>
        Для <b>GF(2^m)</b> порядок поля <b>2^m</b> и неприводимый многочлен <b>f</b><br>
        <br>
        После этого необходимо указать параметры эллиптической кривой A и B.<br>
        <br>
        Интерфейс позволяет добавлять любое кол-во операций сложения или умножения на число.
        Чтобы изменить операцию, щелкните на ее значок ('+' по умолчанию).<br>
    </dd>
    <br>
    
    <dt>Файл</dt>
    <dd>
        Для корректной работы файл должен быть устроен следующим образом:
        <div class="bs-callout bs-callout-success">
            [Порядок поля] [Неприводимый многочлен (если указано бинарное поле)]<br>
            [A] [B]<br>
            [t] [s]<br>
            [... Далее t строк вида...]<br>
            [X1] [Y1] [X2] [Y2]<br>
            [... Далее s строк вида...]<br>
            [X1] [Y1] [Factor]
        </div>
        Где A и B &mdash; параметры эллиптической кривой, t &mdash; кол-во операций сложения точек, s &mdash; 
        кол-во операций умножения на число. <b>s и t обязательно записываются в десятичной системе счисления!</b>
    </dd>
    <br>
    
    <dt></dt>
    <dd>
        <p><a class="btn btn-primary" href="@Url.Action("Work", "EllipticCurves")">Приступить!</a></p>
    </dd>
</dl>