@{
    ViewBag.Title = "Как это работает?";
}

<div class="jumbotron">
    <h1>A-Currency</h1>
    <p class="lead">Описание протокола анонимной валюты</p>
</div>

<dl class="dl-horizontal" style="font-size: 18px">
    <dt>Общее</dt>
    <dd>
        Банк предоставляет услуги выдачи анонимных конвертов, позволяющих клиентам банка обмениваться между собой деньгами,
        скрывая свою личность, но лишь до тех пор, пока клиенты честны: не изготавливают дубликатов конвертов и не пытаются
        дважды получить от банка деньги по одному и тому же конверту. 
    </dd>
    <br/>
    
    <dt>Счет в банке</dt>
    <dd>
        Это комбинация уникального идентификатора, никнейма и баланса. <br/>
        Счет можно @Html.ActionLink("создать", "NewAccount", "AnonymousCurrency"), 
        или использовать @(Html.ActionLink("любой существующий", "Work", "AnonymousCurrency")).
    </dd>
    <br />

    <dt>Конверт</dt>
    <dd>
        В первую очередь &mdash; это набор из уникального идентификатора конверта и суммы. <br />
        Они неизвестны никому, кроме автора конверта, т.к. зашифрованы (поле EncryptedContent).<br/>
        Для того, чтобы подтвердить валидность этих данных, они подписаны банком (поле EncryptedContentSign).<br/>
        <br/>
        Также в конверте есть 10 секретов &mdash; каждые 2 из которых позволят вскрыть личность автора, 
        если он поступит нечестно: начнет копировать конверт и раздавать всем копии.<br/>
        Секреты также зашифрованы (поле EncryptedSecrets) и подписаны банком (поле EncryptedSecretsSigns).<br/>
        <br/>
        Последним в конверте хранится ключ, которым зашифрованы поля данных.<br/>
        <br/>
        Конверт может быть либо <b>закрытым</b> &mdash; хранящимся у автора конверта (и содержащим 10 секретов), 
        либо <b>открытым</b> &mdash; переданным автором другому участнику обмена [<i>продавцу</i>] (и содержащим 1 секрет).
    </dd>
    <br/>

    <dt>Создание конверта</dt>
    <dd>
        Клиент банка генерирует 10 разных конвертов, у каждого из которых разные:<br/>
        <ul>
            <li>Идентификаторы</li>
            <li>Секреты</li>
            <li>Ключи шифрования</li>
        </ul>
        И одинаковые (в идеале) суммы.<br/>
        После этого отправляет банку запрос на подпись: все 10 конвертов, но без ключа шифрования.<br/>
        Банк случайным образом выбирает 9 конвертов и просит автора выслать 9 ключей шифрования.<br/>
        После этого банк "вскрывает" 9 конвертов &mdash; расшифровывает данные и секреты. Если данные соответствуют тому,
        что указано в запросе, а секреты принадлежат вскрытому конверту и автору запроса, банк подписывает содержание десятого
        конверта и каждый его секрет в отдельности, после чего отдает данные автору, снимая с его счета сумму, 
        указанную в запросе.<br/>
        Безусловно, банк показывает ошибку, если обнаружит "поддельный" конверт, однако никаких санкций за это пока 
        не предусмотрено.
    </dd>
    <br />

    <dt>Секрет</dt>
    <dd>
        Секрет содержит уникальный идентификатор конверта, а также случайные коэффиценты прямой <b>kx + b</b>, 
        проходящую через "точку", обозначающую автора. Для получения этой "точки" берется его уникальный идентификатор
        (16 байт) и делится пополам: первые 8 байт это точка <b>x</b>, вторые 8 байт &mdash; точка <b>y</b>.<br/>
        Каждый секрет сериализуется в виде байт, которые шифруются секретным ключом конверта, после чего конкатинируются
        в единую строку.
    </dd>
    <br />

    <dt>Передача конверта</dt>
    <dd>
        Автор конверта передает продавцу:<br/>
        <ul>
            <li>Зашифрованные контент, подписанный банком</li>
            <li>10 банковских подписей всех секретов в конверте (конкатинированных в единую строку)</li>
            <li>Ключ шифрования</li>
        </ul>
        Продавец может проверить, что хранится внутри конверта, если его устраивает содержимое &mdash; 
        он говорит автору одно случайное число, секрет с этим номером автор и передает продавцу.<br/>
        С этого момента конверт считается открытым.
    </dd>
    <br />
    
    <dt>Положить на счет</dt>
    <dd>
        Продавец может прийти в банк и положить на свой счет деньги из конверта.<br/>
        Банк убеждается, что все подписи валидны, а уникальный идентификатор не был использован ранее.<br/>
        Если обнаруживается, что данный конверт уже был использован, запрашивается узнанный продавцом секрет &mdash;
        если сжульничал автор конверта, то скорее всего секреты не совпадут и по 2 разным прямым можно вычислить точку
        пересечения &mdash; уникальный идентификатор автора. Если же секреты совпадут, то считается, что сжульничал продавец,
        которого тут же ловят за руку.
    </dd>
    <br />
    
    <dt></dt>
    <dd>
        <p><a class="btn btn-primary" href="@Url.Action("Work", "AnonymousCurrency")">Приступить!</a></p>
    </dd>
</dl>