@using ProbabilisticEncryption
@{
    ViewBag.Title = "Как это работает?";
}

<div class="jumbotron">
    <h1>P-Encrypt</h1>
    <p class="lead">Описание протокола вероятностного шифрования</p>
</div>

<dl class="dl-horizontal" style="font-size: 18px">
    <dt>Общее</dt>
    <dd>
        Протокол позволяет шифровать и дешифровать сообщения при помощи генератора пседвдослучайных чисел 
        Blum &mdash; Blum &mdash; Shub (BBS): это позволяет каждый раз преобразовывать один и тот же открытый 
        текст в разный шифр текст.
    </dd>
    <br/>
    
    <dt>Секретный ключ</dt>
    <dd>
        Это два простых числа Блюма &mdash; P (@PESecret.BytesCountP-байтное) и Q(@PESecret.BytesCountQ-байтное)
    </dd>
    <br />

    <dt>Шифрование</dt>
    <dd>
        Генератор BBS инициализируется P и Q (из секретного ключа), их произведением N, 
        а также X0 &mdash; квадратичным остатком по модулю N случайного числа, взаимопростого с N.
        После этого каждый бит открытого текста суммируется по модулю 2 с выходом генератора. 
        <br/>
        <br/>
        Поскольку каждое i-е значение генератора можно вычислить независимо от остальных значений, 
        реализовано многопоточное шифрование.
        <br/>
        <br/>
        В конец сообщения добавляется Xt, где t-1 &mdash; длина сообщения.
        <br />
        Поскольку генератор безопасен и влево и вправо &mdash; это значение бесполезно для криптоаналитика.
    </dd>
    <br/>
    
    <dt>Расшифрование</dt>
    <dd>
        Генератор BBS инициализируется P и Q (из секретного ключа), их произведением N,
        а также X0, вычисленным по Xt.
        После этого каждый бит шифр-текста суммируется по модулю 2 с выходом генератора.
        <br />
        <br />
        Дешифрование, как и шифрование, реализовано многопоточное.
    </dd>
    <br />
    
    <dt></dt>
    <dd>
        <p><a class="btn btn-primary" href="@Url.Action("Work", "ProbabilisticEncryption")">Приступить!</a></p>
    </dd>
</dl>